@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container ul li{
    font-size: x-large;
    font-family: Montserrat; !important;

}
.butt{
    text-decoration: none;
    color: black;
}
#butt{
    background-color: silver;
    border: none
}

#butt:hover{
    color: white; !important;
    background-color: black; !important;
    border: 1px solid white;
    border-radius: 5px;
}
layout.css.headerImg{
    margin-left: 3%; !important;
}

header a:hover{
    background: silver;

}
.divReg{
    display: flex;
}
input[type=text] {
    margin-bottom: 2%;
    border: none;
    outline: none;
    border-radius: 2px;
    border-bottom: 1px solid gray;
}
input[type=text]:focus-within{
    background-color: #9ec5fe;
    opacity: 66%;
    border-radius: 2px;
    border-bottom: 1px solid gray;
}
.categories .menu h3{

        border-radius: 5px 5px 0px 0px;
        height: 50px;
    }
.categories .menu ul li{
    margin-bottom: 15px;

}
.categories .menu ul li:hover{
    font-weight: 600;
}
.categories .menu ul li a{
    color: black;
    align-items: center;
    text-decoration: none;
}
.menu .accordion{
    text-align: left;
}
.card-btn{
    border-radius: 0;
    border-color: black;
    color: black;
    background-color: white;
}
.card{
    margin-bottom: 5%;
}
.card:hover{
    box-shadow: 0 15px 30px -15px rgb(253, 253, 253);
}
ul#coder{
    display:grid;
    margin: 0;
    padding: 0;
}
ul#coder li{
    margin: 0;
    padding: 0;
    width:100px;
    list-style: none;
    position: relative;
    text-align: center;

}
ul#coder .aaa:hover{
    width: 120%;
    background: black;
    transition: all .5s;
    color: white;

}
ul#coder .aaa{
    background: #FDFDFDFF;
    box-shadow: -5px 3px 10px grey;
}
ul#coder a:hover{
    background-color: black;
    color: white;
}
ul#coder ul a{
    color:black;
    text-decoration: none;
    text-align: center;
    height: 40px;
    width:100px;
    line-height: 40px;
    transition: all .4s;
}


ul#coder ul{
    position:absolute;
    left:0;
    top:100%;
    display:none;
    padding:0;
}
ul#coder li:hover > ul{
    display:block;
    background-color: black;
}

ul#coder .aaa:hover a{
    color: white; !important;
}

ul#coder ul ul{
    display:none;
    top:0;
    left:100%;
}

.btn-check {

}

.btn-check:checked {
    background-color: white; !important;
    border: solid 3px; !important;
    border-color: black; !important;
    text-underline: black; !important;
}

/*ul#coder:hover{*/
/*    background-color: black;*/
/*}*/