{% extends 'product/layout.html' %}
{% load static %}
{% block title %}Админ панель{% endblock %}
{% block content %}
    <div style="align-items: center">
            <h1>Форма по добавлению товара</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for el in form %}
                	{{el.name}} : {{ el }}<br>
                {% endfor %}


                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit">Добавить товар</button>
            </form>
    </div>
{% endblock %}