{% extends 'product/layout.html' %}
{% load static %}
{% block title %}Админ панель{% endblock %}
{% block content %}
    <div class="features">
            <h1>Форма по добавлению товара</h1>
            <form method="post">
                {% csrf_token %}

                {{ form.name }}<br>
                {{ form.article }}<br>
                {{ form.country }}<br>
                {{ form.waterproof }}<br>
                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit">Добавить товар</button>
            </form>
    </div>
{% endblock %}