{% load static %}
<div class="card" style="width: 18rem; min-height: 24rem;">
    <div class="cardimg">
        <img style="object-fit: cover; margin-bottom: 15%; margin-top: 5%; min-height: 50%" src="{% static 'product/img/ImageBackGround.jpg' %}" class="card-img-top cardimGG" alt="...">
        </div>
        <div class="card-body text-center">
        <h5 class="card-title">80000</h5>
        <p class="card-text">Hamilton</p>
        <a href="#" class="btn btn-primary card-btn ">Перейти куда-нибудь</a>
    </div>
</div>