{% extends 'product/layout.html' %}
{% load static %}
{% block title %}Корзина{% endblock %}
{% block content %}
    <h2>Корзина</h2>
    <div class="row justify-content-between col-12">
        <div class="card " style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static '/product/img/watchIMG.jpg' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body align-content-end">
        <h2 class="align-self-end"> Apple Watch SE 2023</h2>
        <p class="align-self-end">32 990 P</p>
        <div class="row">
          <h1 class="col-1 align-self-end">-</h1>
          <h1 class="col-1">+</h1>
          <h2 class="col-4" style="margin-left: 10%">1 шт.</h2>
        </div>

      </div>
    </div>
  </div>
</div>
        <div class="col-4 card justify-content-center">
            <h4 class="card-text">Итого</h4>
            <h2 class="card-text">32 990</h2>
            <h4 class="card-text">Товаров</h4>
            <h2 class="card-text">32 990</h2>
            <h4 class="card-text">Доставка</h4>
            <h2 class="card-text" >Бесплатная</h2>
            <button class="btn-dark bg-black w-50 align-self-center text-white">Оформить заказ</button>
        </div>

    </div>

    <h1>Оформление заказа</h1>

    <h3>Подарочный сертификат или промокод</h3>
    <input type="text" placeholder="Промокод">


    <h1>Способы оплаты</h1>
    <button class="btn-dark" type="submit">Оплатить на сайте</button>
    <button class="btn-dark" type="submit">Оплатить при получении</button>

    <h1>Доставка</h1>
    

{% endblock %}