{% extends 'product/layout.html' %}
{% load static %}
{% load goods_tags %}
{% block title %}Продукты{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}

    <form action="{% if request.GET.q %}{% url "search" %}{% else %}{% url "catalog" slug_url %}{% endif %}" method="get">
    <div class="container">
        {% if request.GET.q %}
            <input type="hidden" name="q" value="{{ request.GET.q }}">
        {% endif %}
        <section class="categories row">
            <div class="menu filter col-3 align-items-center" style="text-align: center">
                <h3 class="d-flex align-items-center">Фильтры</h3>

              <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Наличие в магазинах
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                      <div class="accordion-body">
                          <input type="checkbox">
                          <label>Да</label>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Пол
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" >
                      <div class="accordion-body d-block">
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_gender" value="Мужские" {% if request.GET.type_gender == 'Мужские' %}checked{% endif %}>
                          <label>Мужские</label><br>
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_gender" value="Женские" {% if request.GET.type_gender == 'Женский' %}checked{% endif %}>
                          <label>Женские</label><br>
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_gender">
                          <label class="col-md-2">Унисекс</label><br>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Бренд
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" >
                      <div class="accordion-body">
                          <label>smthg here</label>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Тип механизма
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                      <div class="accordion-body">
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_mechanism">
                          <label>Механические</label><br>
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_mechanism">
                          <label>Кварцевые</label><br>
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_mechanism">
                          <label>Электронные</label><br>   </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Диаметр корпуса
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                      <div class="accordion-body">
                          <label>От</label>
                          <input type="number" style="max-width: 100px" class="col-md-4 col-lg-4 col-xxl-12">
                          <label>- До</label>
                          <input type="number" style="max-width: 100px" class="col-md-4 col-lg-4 col-xxl-12">
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Цвет корпуса
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" >
                      <div class="accordion-body">
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_color">
                          <label>Серебристый</label><br>
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_color">
                          <label>Золотой</label><br>
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_color">
                          <label>Черный</label><br>                     </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Стиль
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven">
                      <div class="accordion-body">
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_class">
                          <label>Спортивные</label><br>
                          <input type="checkbox" style="max-width: 15px" class="col-md-4 col-lg-4 col-xxl-12" name="type_class">
                          <label>Классические</label><br>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Цена
                      </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight">
                      <div class="accordion-body">
                          <label>От</label>
                          <input type="number" style="max-width: 100px" class="col-md-4 col-lg-4 col-xxl-12">
                          <label>- До</label>
                          <input type="number" style="max-width: 100px" class="col-md-4 col-lg-4 col-xxl-12">

                      </div>
                    </div>
                  </div>

              </div>

                <button type="submit" class="btn btn-primary submit" style=""> Применить
                </button>
                <button type="reset" class="col-12" style="border: none; background-color: white">
                    <u>Сбросить</u>
                </button>
            </div>
            <div class="items col-9 row justify-content-between">
                {% for product in goods %}
                    <div class="card col-12" style="width: 19rem; min-height: 30rem; padding:0" onclick="window.location.href = '{% url 'product-detail' product.slug %}'">
                        <div class="cardimg" style="margin-bottom: 2%; height: 65%">
                            {% if product.image %}
                                <img style="object-fit: cover; min-height: 100%" src="{{ product.image.url }}" class="card-img-top cardimGG" alt="Здесб была картинка">
                            {% else %}
                                <img style="object-fit: cover; min-height: 100%" src="{% static '/product/img/watchIMG.jpg' %}" class="card-img-top cardimGG" alt="...">

                            {% endif %}
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ product.name }}</h5>
                            {% if product.discount %}
                                <p class="card-text"><s>{{ product.cost }} Р</s></p>
                                <p style="margin-left:25%" class="row card-text text-center col-12 w-50"><strong>{{ product.sell_price }} Р </strong> <span style="margin-top: 10%" class =" card-text badge bg-warning text-dark">Скидка {{ product.discount }} %</span></p>

                            {% else %}
                                <p class="card-text">{{ product.cost }} Р</p>
                            {% endif %}

                            <a href="{% url "carts:cart_add"  %}" class="btn add_to_cart  card-btn"
                            data-product-id="{{ product.id }}">{% csrf_token %}
                                В корзину</a>
{#                            <a href="{% url 'product-delete' product.slug %}" class="btn btn-danger">Удалить</a>#}
                            {#<a href="{% url 'product-update' product.slug %}" class="btn btn-info">Редактировать</a>#}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</form>


<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center my-4">
    <div class="custom-shadow d-flex">
        <li class="page-item {% if not goods.has_previous %}disabled{% endif %}">
            <a class="page-link" href=" {% if goods.has_previous %}
            ?{% change_params page=goods.previous_page_number %}
            {% else %}
            #
            {% endif %}">Назад</a>
        </li>

        {% for page in goods.paginator.page_range %}
            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
            <li class="page-item {% if goods.number == page %}active{% endif %}">
                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
            </li>
            {% endif %}
        {% endfor %}


        <li class="page-item {% if not goods.has_next %}disabled{% endif %}">
            <a class="page-link" href=" {% if goods.has_next %}
            ?{% change_params page=goods.next_page_number %}
            {% else %}
            #
            {% endif %}">Следующая</a>
        </li>
    </div>
</ul>

</nav>
{% endblock %}
