@media screen and (max-width: 425px){
    .MDLGimg{
        display: none;
    }
    .divReg{
        text-align: center;
        display: block;
    }
    .registerForm{
        width: 100%;
    }


}
