{% extends 'main/layout.html' %}

{% block title %}
    Про нас
{% endblock %}

{% block content %}
   <div class="features">
        <h1>Про нас</h1>
        <p>lorem ipsum Lorem ipsum dolor sit amet, consectetur radicalising elit. Aspernatur assumenda autem distinctio error ex harum iste laboriosam neque tempora voluptatum! A aliquid beatae consectetur itaque similique! Commodi inventore recusandae reiciendis?</p>
        <button class = "btn btn-danger"> Давай давай БЛЯТЬ!!!!</button>
    </div>
{% endblock %}

