{% extends 'main/layout.html' %}
{%load static%}
{% block title %}
    Про нас
{% endblock %}

{% block content %}
   <div class="container-fluid row" style="justify-content: center">
        <h2 class="" style="margin-bottom: 2%">О нас</h2>
        <div class="align-items-center">
            <h1 style="text-align: center; margin-bottom: 5%; font-style: normal; font-weight: 400; font-size: 36px; line-height: 44px;">WStore</h1>
            <p class="w-40" style="margin-left: auto; margin-right: auto; width: 50%">Добро пожаловать в WStore — вашего надежного партнера в мире высококачественных часов.</p><br>
            <p class="w-40" style="margin-left: auto; margin-right: auto; width: 50%">Мы в WStore гордимся тем, что предлагаем нашим клиентам эксклюзивный ассортимент часов, сочетающий в себе инновационные технологии и безупречный стиль. Наш магазин был основан в 2024 году группой энтузиастов, стремившихся создать пространство, где каждый сможет найти идеальные часы, отражающие его индивидуальность и стиль жизни.</p><br>
            <img class = "w-50" style="display: block; margin-left: auto; margin-right: auto; max-width: 40%" src="{%static 'img/image1.png'%}"><br><br>
            <p class="w-60" style="margin-left: auto; margin-right: auto; width: 50%">Наша миссия — предложить клиентам не просто часы, а символ надежности и статуса. Мы тщательно отбираем каждую модель, чтобы убедиться, что она соответствует самым высоким стандартам качества и дизайна.</p><br>
            <img class = "w-50" style="display: block; margin-left: auto; margin-right: auto; max-width: 40%" src="{%static 'img/image2.png'%}"><br><br>
            <p class="w-60" style="margin-left: auto; margin-right: auto; width: 50%">Наши продукты охватывают широкий спектр стилей — от классических механических часов до современных умных часов. В WStore вы найдете изделия от мировых брендов, таких как Rolex, Omega, Casio и многие другие. Наша команда профессионалов всегда готова помочь вам выбрать идеальные часы, которые будут служить вам верой и правдой многие годы.</p><br>
            <img class = "w-50" style="display: block; margin-left: auto; margin-right: auto; max-width: 40%" src="{%static 'img/image3.png'%}"><br><br>
            <p class="w-60" style="margin-left: auto; margin-right: auto; width: 50%">Наш подход заключается в индивидуальном подходе к каждому клиенту. Мы ценим ваши предпочтения и потребности, и наша цель — удовлетворить их наилучшим образом. Будьте уверены, что каждая покупка в нашем магазине — это не только приобретение часов, но и получение незабываемого опыта.</p><br>
            <img class = "w-50" style="display: block; margin-left: auto; margin-right: auto; max-width: 40%" src="{%static 'img/image4.png'%}"><br><br>
            <p class="w-40" style="margin-left: auto; margin-right: auto; width: 50%">Приглашаем вас посетить наш флагманский магазин или наш удобный онлайн-магазин, где вы сможете удобно ознакомиться с нашими продуктами и выбрать идеальные часы для себя или в подарок. Доверьтесь профессионалам WStore и позвольте нам помочь сделать ваше время действительно особенным.</p>
            <img class = "w-50" style="display: block; margin-left: auto; margin-right: auto; max-width: 40%" src="{%static 'img/image5.png'%}"><br><br>
        </div>

   </div>
{% endblock %}
/* image 1 */

position: absolute;
width: 676px;
height: 538px;
left: 387px;
top: 565px;

background: url(image.png);



