{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
<h2 style="margin-left: 10%" xmlns="http://www.w3.org/1999/html">Контакты</h2>
    <div class="card col-12 align-self-center m-auto" style="max-width: 50%;">
        <div class="">
            <div class="card-img-top">
            <img class="img-fluid rounded-start" style="object-fit: cover; min-height: 100%" src="{% static 'Images/contactImage.png' %}"  alt="...">
            </div>
                <div class="col-md-12">
                  <div class="card-body">
                    <p class="card-text"><strong>Адрес:</strong> г. Красноярск, ул. Академика Киренского, 26к1 </p>
                    <p class="card-text"><strong>Режим работы:</strong> Ежедневно 10:00 - 19:00</p>
                    <p class="card-text"><strong>Режим работы:</strong> Ежедневно 10:00 - 19:00</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}