{% extends 'registration/layout.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block content %}

<div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Профиль</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Адрес доставки</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Мои заказы</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Избранное</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h1>Профиль</h1>
                <h3>Обо мне</h3>
                <div class="surname">
                    <p>Фамилия</p>
                    <input type="text" name="" id="surname">
                </div>
                <div class="name">
                    <p>Имя</p>
                    <input type="text" name="" id="name">
                </div>
                <div class="fathername">
                    <p>Отчество</p>
                    <input type="text" name="" id="fathername">
                </div>
                <div class="sex">
                    <p>Пол</p>
                    <input type="button" value="Мужской" id="msex">
                    <input type="button" value="Женский" id="wsex">
                </div>
                <div class="phone">
                    <p>Мобильный телефон </p>
                    <input type="text" name="" id="phone">
                </div>
                <div class="birthday">
                    <p>День рождения</p>
                    <input type="date" name="" id="birthday">
                </div>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
    </div>
</div>



{% endblock %}