{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block content %}

<div class="row" style="margin-top: 3%; margin-left: 5%;">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Профиль</a>
            <a class="list-group-item list-group-item-action" id="list-address-list" data-bs-toggle="list" href="#list-address" role="tab" aria-controls="list-address">Адрес доставки</a>
            <a class="list-group-item list-group-item-action" id="list-orders-list" data-bs-toggle="list" href="#list-orders" role="tab" aria-controls="list-orders">Мои заказы</a>
            <a class="list-group-item list-group-item-action" id="list-favorite-list" data-bs-toggle="list" href="#list-favorite" role="tab" aria-controls="list-favorite">Избранное</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h1 class="text-center mb-4">Профиль пользователя</h1>
                <h3 class="text-center mb-4">Обо мне</h3>
                <form action="{% url "profile" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12 mb-3 text-center">
                    {% if user.image %}
                            <img src="{{ user.image.url }}" alt="Фото пользователя" style="max-width: 150px;">
                    {% else %}
                            <img src="{% static 'registration/img/watchIMG.jpg' %}" alt="Фото пользователя" style="max-width: 150px;">
                    {% endif %}
                    <input type="file" class="form-control mt-3" id="id_image" name="image" accept="image/*">
                    {% if form.image.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.image.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_firstName" class="form-label">Имя*</label>
                        <input type="text" class="form-control" name="first_name" id="id_firstName"
                               placeholder="Введите ваше имя"
                               value="{{ form.first_name.value }}"
                               required>
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_last_name" class="form-label">Фамилия*</label>
                        <input type="text" class="form-control" name="last_name" id="id_last_name"
                               placeholder="Введите вашу фамилию"
                               value="{{ form.last_name.value }}"
                               required>
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_username" class="form-label">Имя пользователя*</label>
                        <input type="text" class="form-control" name="username" id="id_username"
                               placeholder="Введите имя пользователя"
                               value="{{ form.username.value }}"
                               required>
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_email" class="form-label">Email*</label>
                        <input type="text" class="form-control" name="email" id="id_email"
                               placeholder="Введите Email"
                               value="{{ form.email.value }}"
                               required>
                        {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary" style=" background: silver; color:black;
                 border: none"> Сохранить </button>
                </form>
            </div>
            <div class="tab-pane fade" id="list-address" role="tabpanel" aria-labelledby="list-address-list">
                <h1 class="text-center mb-4">Адреса доставки</h1>
                <h3 class="text-center mb-4">Добавление адреса</h3>
                <form action="{% url "profile" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12 mb-3">
                        <label for="id_city" class="form-label">Город</label>
                        <input type="text" class="form-control" name="city" id="id_city"
                               placeholder="Введите город проживания"
                               value="{{ form.city.value }}"
                               required>
                        {% if form.city.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.city.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_street" class="form-label">Улица</label>
                        <input type="text" class="form-control" name="street" id="id_street"
                               placeholder="Введите название улицы"
                               value="{{ form.street.value }}"
                               required>
                        {% if form.street.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.street.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_building" class="form-label">Дом</label>
                        <input type="text" class="form-control" name="building" id="id_building"
                               placeholder="Введите номер дома"
                               value="{{ form.building.value }}"
                               required>
                        {% if form.building.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.building.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_entrance" class="form-label">Корпус</label>
                        <input type="text" class="form-control" name="entrance" id="id_entrance"
                               placeholder="Введите номер корпуса"
                               value="{{ form.entrance.value }}"
                               required>
                        {% if form.entrance.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.entrance.errors }}</div>
                        {% endif %}
                    </div>
                <div class="col-md-12 mb-3">
                        <label for="id_apartment" class="form-label">Квартира</label>
                        <input type="text" class="form-control" name="apartment" id="id_apartment"
                               placeholder="Введите номер квартиры"
                               value="{{ form.apartment.value }}"
                               required>
                        {% if form.apartment.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.apartment.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary" style=" background: silver; color:black;
                 border: none"> Сохранить </button>
                </form>
            </div>
            <div class="tab-pane fade" id="list-orders" role="tabpanel" aria-labelledby="list-orders-list">
                <h1 class="text-center mb-4">Мои заказы</h1>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Изображение</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Доставка</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>20.05.2024</td>
                            <td><img src="{{ product.image.url }}" class="card-img"></td>
                            <td>{{ product.name }}</td>
                            <td>Бесплатно</td>
                            <td>1 шт.</td>
                            <td>{{ product.sell_price }}</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>20.05.2024</td>
                            <td><img src="{{ product.image.url }}" class="card-img"></td>
                            <td>{{ product.name }}</td>
                            <td>Бесплатно</td>
                            <td>1 шт.</td>
                            <td>{{ product.sell_price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="list-favorite" role="tabpanel" aria-labelledby="list-favorite-list">...</div>
        </div>
    </div>
</div>


{% endblock %}