@media screen and (max-width: 768px){
    .adapt-profile-list{
        width: 100%;
        text-align: center;
    }
    .adapt-profile{

    }
}

@media screen and (max-width: 767px){
    .MDLGimg{
        display: none;
    }

    .divReg{
        text-align: center;
        display: block;
    }
    .registerForm{
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .forPhone{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .adapt{
        display: table;
    }
    #adapt{
        display: table;
    }
    .forComp{
        display: none;
    }
    .imgs{

    }

}




