.headerImg{
    margin-left: 1%;
}

a:hover{
    background: silver;

}
.divReg{
    display: flex;
}
input[type=text] {
    margin-bottom: 2%;
    border: none;
    outline: none;
    border-radius: 2px;
    border-bottom: 1px solid gray;
}
input[type=text]:focus-within{
    background-color: #9ec5fe;
    opacity: 66%;
    border-radius: 2px;
    border-bottom: 1px solid gray;
}
