{% extends 'registration/layout.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block content %}

<div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Профиль</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Адрес доставки</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Мои заказы</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Избранное</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h1 class="text-center mb-4">Профиль пользователя</h1>
                <h3 class="text-center mb-4">Обо мне</h3>
                <form action="{% url "profile" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12 mb-3 text-center">
                    {% if user.image %}
                            <img src="{{ user.image.url }}" alt="Фото пользователя" style="max-width: 150px;">
                    {% else %}
                            <img src="{% static 'registration/img/watchIMG.jpg' %}" alt="Фото пользователя" style="max-width: 150px;">
                    {% endif %}
                    <input type="file" class="form-control mt-3" id="id_image" name="image" accept="image/*">
                    {% if form.image.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.image.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_firstName" class="form-label">Имя*</label>
                        <input type="text" class="form-control" name="first_name" id="id_firstName"
                               placeholder="Введите ваше имя"
                               value="{{ form.first_name.value }}"
                               required>
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_last_name" class="form-label">Фамилия*</label>
                        <input type="text" class="form-control" name="last_name" id="id_last_name"
                               placeholder="Введите вашу фамилию"
                               value="{{ form.last_name.value }}"
                               required>
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_username" class="form-label">Имя пользователя*</label>
                        <input type="text" class="form-control" name="username" id="id_username"
                               placeholder="Введите имя пользователя"
                               value="{{ form.username.value }}"
                               required>
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_email" class="form-label">Email*</label>
                        <input type="text" class="form-control" name="email" id="id_email"
                               placeholder="Введите Email"
                               value="{{ form.email.value }}"
                               required>
                        {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary" style=" background: silver; color:black;
                 border: none"> Сохранить </button>
                </form>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
    </div>
</div>



{% endblock %}