{% extends 'registration/layout.html' %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
    <div class="container col-sm-12 col-md-12 col-lg-6 divReg">
        <form class=" w-auto registerForm" style="margin-right: 1%; margin-top: 10%" method="post">
            {% csrf_token %}
            <h1 class="position-relative " style="padding-bottom: 5%">Добро пожаловать!</h1>
            {{ form.email }}<br>
            {{ form.password }}<br>
            <div class="container" style="text-align: center; display: grid">
                <button type="submit" class="btn btn-primary" style=" background: silver; color:black;
                 border: none">Войти</button>
                <label>У вас нет аккаунта?</label>
                <a class="bg-light" href="{% url 'create' %}">Зарегистрироваться</a>
            </div>

        </form>
       <div class="col-md-6 MDLGimg" style="padding-left:10%; margin: 0 0 5% 5%;
        background-position: center; width: 429px; height: 480px; 
        background-image: url('{% static 'registration/img/watchIMG.jpg' %}')">
        </div>
    </div>
{% endblock %}


